<.layout>
  <:head>
    <CKEditor5.cloud_assets />
  </:head>

  <:inner_content>
    <CKEditor5.editor editable_height="400px" name="mia" value="Mia mia mia" />

    <CKEditor5.editable name="first_editable" value="First editable content" />
    <CKEditor5.editable name="second_editable" value="Second editable content" />
    <CKEditor5.editable name="third_editable" value="Third editable content" />
  </:inner_content>
</.layout>
