<.layout>
  <:head>
    <.cke_cloud_assets />
  </:head>

  <:inner_content>
    <.cke_editor editable_height="400px" name="mia" value="Mia mia mia" />

    <.cke_editable name="first_editable" value="First editable content" />
    <.cke_editable name="second_editable" value="Second editable content" />
    <.cke_editable name="third_editable" value="Third editable content" />
  </:inner_content>
</.layout>
