<.back_to_home />

<.live_component
  id="editor"
  module={CKEditor5.Components.Editor}
  value={@editor_value}
  change_event
  focus_event
  blur_event
/>

<div class="bg-gray-50 mt-8 p-4 border border-gray-300">
  <h2 class="mb-2 font-bold">Current editor value:</h2>
  <pre class="whitespace-pre-wrap"> <%= @editor_value %> </pre>
</div>
